Estilos para el header
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header li {
    margin-left: 20px;
  }

  header a {
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  header a:hover {
    color: #f00;
  }

  /* Estilos para el footer */
  footer {
    background-color: #f9f9f9;
    padding: 20px;
  }
  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-group {
    max-width: 400px;
  }
