<!-- products section start -->
<section class="products" id="products">

  <div class="container">
    <form action="" class="search-bar" role="search" (submit)="iraBusqueda(textoBusqueda.value)">
      <input #textoBusqueda type="search" placeholder="Find a product you might like" name="buscar" aria-label="Search">
      <button type="submit"><img src="../../../assets/img/busqueda-de-lupa.png" alt=""></button>
    </form>
  </div>
  <router-outlet></router-outlet>
  <h1 class="heading"> lastest <span>products</span> </h1>
  <div class="box-conteiner">
    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product1.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->

    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product2.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->
    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product3.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->

    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product4.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->

    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product5.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->

    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product6.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->

    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product7.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->

    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product8.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->

    <!-- card 1 starts-->
    <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="../../../assets/img/product9.jpg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
          <a href="#" class="fas fa-share"></a>
        </div>
      </div>
      <div class="content">
        <a href=""><h3>Product</h3></a>
        <div class="price">$12.99 <span>$15.99</span> </div>
      </div>
    </div>
    <!-- card 1 ends-->
  </div>
</section>
<!-- product section ends -->
