<!-- home section stars -->
<section class="home" id="home">
    <div class="content">
        <h3>newest products</h3>
        <span>your favorite product </span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia iure molestiae similique,
          voluptate quo repudiandae ut, cupiditate animi, accusantium nulla aliquam ullam quibusdam
          beatae repellendus commodi quas facere deleniti explicabo.</p>
        <a href="#" class="btn" routerLink="/products">shop now</a>
    </div>
</section>
<!-- home section ends -->

<!-- icons section stars -->
<section class="icons-container">
  <div class="icons">
    <img src="../../../assets/img/icon1.png" alt="">
    <div class="info">
      <h3>free delivery</h3>
      <span>on all orders</span>
    </div>
  </div>
  <div class="icons">
    <img src="../../../assets/img/icon2.png" alt="">
    <div class="info">
      <h3>10 days returns</h3>
      <span>moneyback guarantee</span>
    </div>
  </div>
  <div class="icons">
    <img src="../../../assets/img/icon3.png" alt="">
    <div class="info">
      <h3>offer & gifts</h3>
      <span>on all orders</span>
    </div>
  </div>
  <div class="icons">
    <img src="../../../assets/img/icon4.png" alt="">
    <div class="info">
      <h3>secure paymens</h3>
      <span>protected by paypal</span>
    </div>
  </div>
</section>
<!-- icons section ends -->
