section{
  padding: 2rem 9%;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color:#fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background: var(--pink);
}

.home{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background:url(src/assets/img/flowers-7980350.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 50rem;
}

.home .content h3{
  font-size: 6rem;
  color: #fff;
}

.home .content span{
  font-size: 3.5rem;
  color:var(--pink);
  padding:1rem 0;
  line-height: 1.5;
}

.home .content p{
  font-size: 1.5rem;
  color: #fafafa;
  padding:1rem 0;
  line-height: 1.5;
}

/* media queries */
@media (max-width:991px) {
  .home{
    background-position: left;
  }
}
@media (max-width:768px) {
  header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, 1);
    display: block;
  }
  .home .content h3{
    font-size: 5rem;
  }
  .home .content span{
    font-size: 2.5rem;
  }
}

.icons-container{
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons{
  background: #fff;
  border:.1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 1rem;
  border-radius: 1.5rem;
}

.icons-container .icons img{
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3{
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}
.icons-container .icons span{
  color: #555;
  font-size: 1.3rem;
}



/* media queries */
@media (max-width:768px) {
  .home .content h3{
    font-size: 5rem;
  }
  .home .content span{
    font-size: 2.5rem;
  }
  .icons-container .icons h3{
    font-size: 2rem;
  }
  .icons-container .icons span{
    font-size: 1.7rem;
  }

}
